@font-face {
    font-family: 'Super Vibes';
    src: url('../fonts/SuperVibes.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
}

.super-vibes {
    font-family: 'Super Vibes', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.point {
    list-style-image: url('../imgs/point.svg');
}